<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Dek.Bel.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.8.0" newVersion="1.8.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Dek.Bel.Core.Properties.Settings>
      <setting name="CitationFont" serializeAs="String">
        <value>Times New Roman, 12pt</value>
      </setting>
      <setting name="DeselectionMarker" serializeAs="String">
        <value>[…]</value>
      </setting>
      <setting name="StorageFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="UnderlineEmphasis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BoldEmphasis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PdfUnderlineColor" serializeAs="String">
        <value>192, 0, 0</value>
      </setting>
      <setting name="PdfHighLightColor" serializeAs="String">
        <value>128, 255, 255</value>
      </setting>
      <setting name="ShowDebugMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoWritePdfOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PdfMarginBoxColor" serializeAs="String">
        <value>128, 255, 255</value>
      </setting>
      <setting name="PdfMarginBoxWidth" serializeAs="String">
        <value>56</value>
      </setting>
      <setting name="PdfMarginBoxHeight" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="PdfmarginBoxBorder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PdfMarginBoxMargin" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="PdfMarginBoxVisualMode" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="PdfMarginBoxRightMargin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PdfMarginBoxFont" serializeAs="String">
        <value>Times-Roman</value>
      </setting>
      <setting name="PdfMarginBoxFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="LastSelectedDatabaseFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LatestExportSaveFolder" serializeAs="String">
        <value />
      </setting>
    </Dek.Bel.Core.Properties.Settings>
  </userSettings>
</configuration>